* {
    // Font
    -color-font-default: #e3e3e3;
    -color-font-weaken: #b0c6d4;
    -color-font-accent: #bee28e;

    -color-font-red: red;
    -color-font-green: green;

    // Widgets
    -color-elevation-10: #101c25;
    -color-elevation-20: #2c4248;
    -color-elevation-30: #436874;
    -color-button-default: #009688;
    -color-button-hover: #38958a;
    -color-button-accent: #1de9b6;
    -color-button-weaken: #555e5e;
    -color-input-background: #2d2d2d;

    // Backgrounds
    -color-background-default: #1d3140;
    -color-background-alternative: #122a39;

    // Borders
    -color-border-default: #164a4c;
    -color-border-weaken: #164a4c;
    -color-border-accent: #f7a503;

    // DropShadow
    -dropshadow-default: dropshadow(gaussian, rgba(10, 10, 10, 0.4), 0, 10, 2, 2);
    -dropshadow-accent: dropshadow(gaussian, rgba(10, 10, 10, 0.6), 0, 10, 4, 4);
}