.plugins-container {

}

.plugins-container-1 {
    -fx-padding: 20;
    -fx-background-color: -color-elevation-10;
}

.lbl-info {
    -fx-text-fill: -color-font-weaken;
    -fx-padding: 10;
}

.container-error {
    -fx-border-width: 2px;
    -fx-border-color: -color-border-default;
    -fx-border-radius: 6px;
    -fx-background-color: derive(-color-elevation-20, -40%);
    -fx-background-radius: 6px;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.container-full-info{
    -fx-background-color: -color-elevation-10;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 0 3;
}

.gridpane-plugins{
    -fx-hgap: 20;
    -fx-vgap: 20;
}
